ul#glossy-menu ul{display:none}
ul#glossy-menu li:hover>*{display:block}
ul#glossy-menu li:hover{position:relative;}
ul#glossy-menu ul{
	position: absolute;left:-1px;top:98%;}
ul#glossy-menu ul ul{
	position: absolute;left:98%;top:-2px;}
ul#glossy-menu,ul#glossy-menu ul{
	margin-left:2px;list-style:none;padding:0px;border-width:0px;border-style:none;border-color:#C0AF62;}
ul#glossy-menu table {border-collapse:collapse}
ul#glossy-menu {
	display:block;font-size:0;zoom:1;float: left;}
ul#glossy-menu ul{
	//width:151px;padding:0;}
ul#glossy-menu li{
	display:block;zoom:1;margin:0;font-size:0;float:left;}
ul#glossy-menu a:active, ul#glossy-menu a:focus {outline-style:none}
ul#glossy-menu a,ul#glossy-menu li.dis a:hover{
	display:block;vertical-align:middle;_display:inline-block;_vertical-align:top;background-color:#333333;border-width:1px 0px 1px 0px;border-style:solid;border-color:#3F3F3F #333333 #292929 #333333;text-align:center;text-decoration:none;padding:9px 12px 0px 5px;_padding-left:0;font:normal 13px Geneva,Tahoma,Nimbus Sans L,sans-serif;color: #FFFFFF;text-decoration:none;cursor:pointer;}
ul#glossy-menu ul li {float:none;}
ul#glossy-menu ul a,ul#glossy-menu ul li.dis a:hover{
	display:block;text-align:left;white-space:nowrap;}
ul#glossy-menu li:hover>a{
	background-color:#2A2A2A;border-color:#3F3F3F #333333 #292929 #333333;border-style:solid;font:normal 13px Geneva,Tahoma,Nimbus Sans L,sans-serif;color: #557118;text-decoration:none;}
ul#glossy-menu li a:hover{
	_position:relative;background-color:#2A2A2A;border-color:#3F3F3F #333333 #292929 #333333;border-style:solid;font:normal 13px Geneva,Tahoma,Nimbus Sans L,sans-serif;color: #557118;text-decoration:none;}
ul#glossy-menu li.dis a{color: #AAAAAA !important;}
ul#glossy-menu img{
	border: none;vertical-align: middle;margin-right:18px;}
ul#glossy-menu img.over{display:none}
ul#glossy-menu li.dis a:hover img.over{display:none !important}
ul#glossy-menu li.dis a:hover img.def {display:inline !important}
ul#glossy-menu li:hover > a img.def  {display:none}
ul#glossy-menu li:hover > a img.over {display:inline}
ul#glossy-menu a:hover img.over,ul#glossy-menu a:hover ul img.def,ul#glossy-menu a:hover a:hover ul img.def,ul#glossy-menu a:hover a:hover img.over,ul#glossy-menu a:hover a:hover a:hover img.over{display:inline}
ul#glossy-menu a:hover img.def,ul#glossy-menu a:hover ul img.over,ul#glossy-menu a:hover a:hover ul img.over,ul#glossy-menu a:hover a:hover img.def,ul#glossy-menu a:hover a:hover a:hover img.def{display:none}
ul#glossy-menu a:hover ul,ul#glossy-menu a:hover a:hover ul{display:block }
ul#glossy-menu a:hover ul ul{display:none}
ul#glossy-menu span{
	display:block;overflow:visible;background-position:right center;background-repeat: no-repeat;padding-right:0px;}
ul#glossy-menu ul span{background-image:url(arrow.gif);padding-right:27px;}
ul#glossy-menu li a.istylei0,ul#glossy-menu li.dis.istylei0:hover a.istylei0{
	height:29px;background-color:transparent;background-image:url(back-normal.png);border-width:0px;border-style:none;font:bold 12px Geneva,Tahoma,Nimbus Sans L,sans-serif;color:#FFFFFF;margin:0 -7px 0 7px;_margin:0 0 0 0;background-position:100% 0;}
ul#glossy-menu li.istylei0:hover>a{
	background-color:transparent;background-image:url(back-over.png);border-style:none;font:bold 12px Geneva,Tahoma,Nimbus Sans L,sans-serif;color:#333333;}
ul#glossy-menu li.istylei0,ul#glossy-menu li.dis.istylei0:hover{
	width:153px; margin:0 7px 0 0;background-color:transparent;background-image:url(back-normal.png);background-position:0 0;}
ul#glossy-menu li.istylei0:hover{
	background-color:transparent;background-image:url(back-over.png);}
ul#glossy-menu li a.istylei0:hover{
	background-color:transparent;background-image:url(back-over.png);border-style:none;font:bold 12px Geneva,Tahoma,Nimbus Sans L,sans-serif;color:#333333;}
ul#glossy-menu.istylem0,ul#glossy-menu ul.istylem0{
	background-color:#353535;border-width:0px;border-style:none;padding:9px; margin-left:2px;}
ul#glossy-menu ul.istylem0 li{
	margin:0;}
ul#glossy-menu.istylem0 li a,ul#glossy-menu ul.istylem0 li a,ul#glossy-menu.istylem0 li.dis a:hover,ul#glossy-menu ul.istylem0 li.dis a:hover{
	padding:4px 10px 7px 0px;}
.hide {
    display:none !important;
}
