@using SecurityAgency.Common.ViewModels;
@model SecurityAgency.Common.ViewModels.ErrorViewModel

    <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="contentpanel">
        <hgroup>
            <h3>@Model.Exception.Message</h3>
        </hgroup>
    </div>
</body>
</html>
