@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





@*<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Security Agency</title>
    <link href="~/Content/css.css" rel="stylesheet" />

</head>

<body background="~/Images/teal-abstract-background.png" style="background-repeat:space">
<table width="780" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td valign="top"><table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="63%" valign="top" style="padding-top:12px; padding-left:47px; padding-bottom:13px;">
            
            <a href="index.html">
                <img src="images/logo.png" alt="" width="300" height="70" border="0" /></a></td>
        <td width="27%" align="right" valign="middle" class="top" style="padding-right:14px;">
            
            <a href="index.html">Home Page</a>   |  <a href="contact.html">Contacts</a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td valign="top" style="padding-bottom:10px;"><table width="100%" cellspacing="0" cellpadding="0">
      <tr>
        <td width="68%" valign="top"><table width="567" cellspacing="0" cellpadding="0" style="width:565px;">
          <tr>
            <td width="87%" align="right" valign="top">
                <img src="images/index_06.gif" width="488" height="242" alt="" /></td>
            <td width="13%" align="right" valign="top">
                <img src="images/index_07.gif" width="77" height="242" alt="" /></td>
          </tr>
          <tr>
            <td colspan="2" valign="top"><table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="2" valign="top"><table width="100%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="20%" valign="top" style="padding-top:46px; padding-left:28px;">
                        <img src="images/index_25.gif" width="87" height="129" alt="" /></td>
                    <td width="80%" valign="top">
					<div style="padding-top:49px; padding-left:7px;"><img src="images/index_22.gif" width="274" height="27" alt="" /></div>
					 <div class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quis turpis eu liepil.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quis turpis eu liepil sit amet, consectetuer adipiscing elit. Nullam quis turpis eu liepil.<br />
                  <br />
                Nullam quis turpis eu liepil.Lorem rem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam quis turpis eu liepil.<br />
                <br />
                <a href="content.html">read more</a></div></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td width="50%" valign="top" style="padding-top:30px;">
                    @*  <table width="55%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="bottom"><img src="images/index_35.gif" width="281" height="8" alt="" /></td>
                  </tr>
                  <tr>
                    <td valign="top" style="background-image:url(images/index_42.gif); background-repeat:repeat-y; height:138px;">
                        <table width="100%" cellspacing="0" cellpadding="0">
                      
                        <tr>
                          <td width="47%" valign="top" style="padding-left:50px; padding-top:8px; padding-bottom:18px;">
                          <img src="~/Images/admin.jpg"  width="173" height="170px" alt="" /> @* <img src="images/admin.jpg" width="109" height="92" alt="" /></td>
                          
                        </tr>
                    </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><img src="images/index_65.gif" width="281" height="13" alt="" /></td>
                  </tr>
                </table></td>
                <td width="50%" valign="top" style="padding-top:30px;">
                    <table width="55%" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="bottom">
                        <img src="images/index_32.gif" width="283" height="8" alt="" /></td>
                  </tr>
                  <tr>
                    <td valign="top" style="background-image:url(images/index_42.gif); background-repeat:repeat-y; height:138px;">
                        <table width="100%" cellspacing="0" cellpadding="0">
                    
                       
                        <tr>
                
                      <td width="50%" valign="top" style="padding-left:50px; padding-top:8px;padding-bottom:2px;" >
                            <img src="~/Images/supervisor.png"  width="173" height="185" alt="" align="inherit" />  @*<img src="images/index_56.gif" width="73" height="85" alt="" /></td>
                        </tr>
                    </table>*@
             @*</td>
                  </tr>
                  <tr>
                   @* <td valign="top"><img src="images/index_63.gif" width="283" height="15" alt="" /></td>*@
                  @*</tr>
                </table>


                </td>
              </tr>
              <tr>
            
              </tr>
            </table></td>
          </tr>
        </table></td>
        <td width="32%" valign="top"><table width="100%" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top"><img src="images/index_08.gif" width="215" height="205" alt="" /></td>
          </tr>
          <tr>
            <td valign="top"><table width="215" cellspacing="0" cellpadding="0">
              <tr>
                <td width="14" align="left" valign="top" style="background-image:url(images/index_13.gif); background-repeat:repeat-y;"><img src="images/index_09.gif" width="14" height="37" alt="" /></td>
                <td width="179" valign="top" bgcolor="#F3F3F3" style="border-left:#FFFFFF 6px solid; border-top:#FFFFFF 5px solid; border-right:#FFFFFF 6px solid; padding-top:14px; padding-bottom:14px;">
				  <div class="menu"><a href="index.html">Home Page</a></div>
                  <div class="menu"><a href="content.html">About Us</a></div>
                  <div class="menu">@Html.ActionLink("Login","Login","Home")</div>
                  <div class="menu">@Html.ActionLink("Register","Register","Home")</div>
                  <div class="menu">@Html.ActionLink("Admin","Index","Admin")</div>
                 @* <div class="menu"><a href="content.html">Staff</a></div>
                  <div class="menu"><a href="content.html">Linkes</a></div>*@
                 @* <div class="menu"><a href="contact.html">Contacts</a></div></td>
                <td width="22" align="left" valign="top" style="background-image:url(images/index_14.gif); background-repeat:repeat-y; background-position:left;"><img src="images/index_11.gif" width="22" height="37" alt="" /></td>
              </tr>
              <tr>
                <td colspan="3" valign="top"><img src="images/index_29.gif" width="215" height="16" alt="" /></td>
                </tr>
            </table></td>
          </tr>
          <tr>
       
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="top" style="background-image:url(images/index_73.gif); background-repeat:repeat-x;">
	<div class="footer"><a href="index.html">Home Page</a>  :  <a href="content.html">About us</a>  :  <a href="content.html">Login</a>  :  <a href="content.html">Register</a>  :  <a href="content.html">Admin</a>  :  <a href="contact.html">Contacts</a>
	</div>
	<div class="copyright">Copyright &copy; 2015 SecurityAgency.com. All Rights Reserved</div>
	</td>
  </tr>
</table>
</body>
</html>*@